.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.form-group {
    float: left;
    width: 40%;
    padding: 0 10px;
    margin-bottom: 10px;
}

.form-group label {
  float: left;
  width: 100px; /* Adjust label width as needed */
  margin-right: 5px; /* Add margin between label and input/select */
}

.form-group input,
.form-group select {
  flex: 1; /* Allow input/select to grow to fill remaining space */
  padding: 8px;
  font-size: 16px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
